[Unit]
Description=llama.cpp Server - Primary Model
After=network.target

[Service]
Type=simple
User=rohit
ExecStart=/usr/local/bin/ik-llama-server   --model __MODEL_PATH__   --threads __THREADS__   --ctx-size 4096   --jinja   --host 0.0.0.0   --port 8081   --metrics
Restart=always
RestartSec=10
LimitMEMLOCK=infinity
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
